@font-face{
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face{
    font-family: Quantico;
    src: url(../fonts/Quantico-BoldItalic.ttf);
}

*{margin: 0;padding: 0;font-family: Roboto;}

body{background: #DDDDDD;}

h1,h3{font-family: Quantico !important;}

h3{font-size:30px;}

.text-center{text-align: center;}

.text-uppercase{text-transform: uppercase;}

main{
    	background: #fff;
    	width: 80%;
    	margin: 20px auto;
	padding: 20px;
	border-radius: 5px;
}
